#wrapper {
	position: relative;
	padding: 1.25rem 0;
	background-color: var(--background-c);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

	& #content {
		display: flex;
		justify-content: center;
		height: min(70vh, 512px);
		overflow-y: auto;
		scroll-behavior: smooth;
		padding: 0 1rem;
		scrollbar-gutter: stable both-edges;

		&::-webkit-scrollbar-track-piece:start {
			margin-top: 2.75rem;
		}

		#data {
			table-layout: fixed;
			width: 100%;
			height: fit-content;

			& thead {
				position: sticky;
				top: 0;
				background-color: var(--background-c);

				@media screen and (max-width: 991px) {

					display: none;
				}

				& th {
					text-align: center;
					text-transform: capitalize;

					& span {

						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
						padding-bottom: 1.25rem;
						border-bottom: 1px solid var(--inr-light-gray);
						color: var(--text-e);
						font-weight: 700;
						font-size: 1rem;

						& .icon {
							margin-right: .5rem;
						}
					}
				}
			}

			& tbody {

				&> :nth-child(odd) {
					background-color: var(--background-a);
				}

				&> :nth-child(even) {
					background-color: var(--background-c);
				}

				@media screen and (max-width: 991px) {

					display: grid;
					grid-template-columns: 1fr;
					gap: 1px;
					background-color: var(--inr-light-gray);
				}
			}
		}
	}
}